<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <parent-component></parent-component>
            </div>
        </div>
    </div>
</template>

<script>
    import Parent from './components/parent.vue';

    export default {
        components: {
            'parent-component': Parent
        }
    }
</script>

<style>
    div.component {
        border: 1px solid black;
        padding: 30px;
    }
</style>
