<template>
    <div class="component">
        <h3>Child Component 2</h3>
        <p>Name: {{ myName }}</p>
        <p>Location: {{ myLocation }}</p>
        <button @click="resetName">Reset name</button>
        <button @click="editLocationToYork">Change location to York</button>
    </div>
</template>

<script>

  import { eventBus } from '../main';

  export default {
    props: ['myName', 'myLocation'],
    methods: {
        resetName() {
            this.myName = 'Adam';
            this.$emit('nameWasReset', this.myName); // (event name, data)
        },
        editLocationToYork() {
            this.myLocation = 'York';
            eventBus.$emit('locationWasEdited', this.myLocation);
        }

    },
    created() {
        eventBus.$on('locationWasEdited', (data) => {
            this.myLocation = data;
        }); // listens to events emitted
    }
  }

</script>

<style scoped>
    div {
        background-color: lightgreen;
    }
</style>
