<template>
    <div class="component">
        <h3>Child Component</h3>
        <p>Name: {{ myName }}</p>
        <button @click="resetFn">Reset name</button>
    </div>
</template>

<script>
  export default {
    props: {
        myName: String,
        resetFn: Function
    }
  }

</script>

<style scoped>
    div {
        background-color: lightcoral;
    }
</style>
