<template>
    <div class="component">
        <h3>Child Component</h3>
        <p>Name: {{ myName }}</p>
        <button @click="resetName">Reset name</button>
    </div>
</template>

<script>
  export default {
    props: ['myName'],
    methods: {
        resetName() {
            this.myName = 'Adam';
            this.$emit('nameWasReset', this.myName); // (event name, data)
        }
    }
  }

</script>

<style scoped>
    div {
        background-color: lightcoral;
    }
</style>
