<template>
    <div class="component">
        <h3>Child Component 1</h3>
        <p>Name: {{ myName }}</p>
        <p>Location: {{ myLocation }}</p>
        <button @click="resetName">Reset name</button>
        <button @click="editLocationToNotts">Change location to Nottingham</button>
    </div>
</template>

<script>

  import { eventBus } from '../main';

  export default {
    props: ['myName', 'myLocation'],
    methods: {
        resetName() {
            this.myName = 'Adam';
            this.$emit('nameWasReset', this.myName); // (event name, data)
        },
        editLocationToNotts() {
            this.myLocation = 'Nottingham';
            //eventBus.$emit('locationWasEdited', this.myLocation);
            eventBus.changeLocation(this.myLocation);

        }
    },
    created() {
        eventBus.$on('locationWasEdited', (data) => {
            this.myLocation = data;
        }); // listens to events emitted
    }
  }

</script>

<style scoped>
    div {
        background-color: lightcoral;
    }
</style>
