<template>
    <div class="component">
        <h1>Parent Component</h1>
        <p>Name: {{ name }}</p>
        <p>Location: {{ location }}</p>
        <button @click="changeName">Change my name</button>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <child-component-1
                    :myName="name"
                    @nameWasReset="name = $event"
                    :myLocation="location"></child-component-1>
            </div>
            <div class="col-xs-12 col-sm-6">
                <child-component-2
                    :myName="name"
                    @nameWasReset="name = $event"
                    :myLocation="location"
                    @locationWasEdited="location = $event"></child-component-2>
            </div>
        </div>
    </div>
</template>

<script>
    import Child1 from './Child1.vue';
    import Child2 from './Child2.vue';

    export default {
        data: function() {
            return {
                name: 'Adam',
                location: 'Leeds'
            }
        },
        methods: {
            changeName() {
                this.name = 'Jonathan';
            },
            changeLocation() {
                this.location = 'York';
            }
        },
        components: {
            'child-component-1': Child1,
            'child-component-2': Child2
        }
    }
</script>

<style scoped>
    div {
        background-color: lightblue;
    }
</style>
