<template>
    <div class="component">
        <h3>Child Component</h3>
        <p>Name: {{ myName }}</p>
    </div>
</template>

<script>
  export default {
    props: ['myName']
  }

</script>

<style scoped>
    div {
        background-color: lightcoral;
    }
</style>
