<template>
    <div class="component">
        <h1>Parent Component</h1>
        <button @click="changeName">Change my name</button>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <child-component :myName="name"></child-component>
            </div>
        </div>
    </div>
</template>

<script>
    import Child from './Child.vue';

    export default {
        data: function() {
            return {
                name: 'Adam'
            }
        },
        methods: {
            changeName() {
                this.name = 'Jonathan';
            }
        },
        components: {
            'child-component': Child
        }
    }
</script>

<style scoped>
    div {
        background-color: lightblue;
    }
</style>
