<template>
    <div>
        <p>I'm a child component!</p>

        <slot></slot><!-- Content from parent gets rendered here -->

    </div>
</<template>

<style scoped>
    div {
        background-color: orange;
    }
</style>