<template>
    <div>
        <child-component>
            <p>I'm injected content from the parent!</p>
            <p>I can still bind to data in the parent's scope, like this! {{ myVariable }}</p>
        </child-component>
    </div>
</template>

<script>
    import Child from './Child.vue';

    export default {
        data: function() {
            return {
                myVariable: '** I\'m set in the parent **'
            }
        },
        components: {
            'child-component-': Child,
        }
    }
</script>

<style scoped>
    p {
        font-size: 30px;
    }
</style>
